{% from "macros.html" import nav_link with context %}
{% from "macros.html" import nav_span with context %}
<!DOCTYPE html>
<html>
  {% block head %}
    <title>{% block title %}{% endblock %} flask jinja2 first example</title>
  {% endblock %}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/baseStyle.css') }}">
</head>
<body>
  <nav class="container">
    <div class="horz">
      {{nav_span('root', 'root') }}
      {{nav_span('home', 'Home') }}
      {{nav_span('about', 'About') }}
      {{nav_span('contact', 'Contact Us') }}
      <div>
        <form>
          <input type="text">
          <button type="submit">click</button>
        </form>
      </div>&nbsp;
      <select onchange="location = this.value;">
        <option value="">dropDownMenu</option>
        {{nav_link('root', 'root') }}
        {{nav_link('home', 'Home') }}
        {{nav_link('about', 'About') }}
        {{nav_link('contact', 'Contact Us') }}
      </select>
    </div>
  </nav>
  <div class="subCont">
    {% block heading %}
      <h2>{% block page %}{% endblock %} - Flask Super Example</h2>
    {% endblock %}
    <h3>This is part of my base template</h3><br>
    {% block content %}{% endblock %}<br>
    <h2>This is part of my base template</h2> 
    <div class="footer">
      {% block footer %}
        Watch! This will be added to my
        base and child templates using the super
        powerful super block!<br>
      {% endblock %}
    </div><br>    
      <a href="/shutdown">shutdown</a>
  </div>
</body>
</html>